<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @user.nazwa %>
</p>
<p> <%= image_tag(@user.image.url) %>
  </p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
